# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/front-side/node_modules
/front-side/.pnp
/front-side/.pnp.js

# testing
/front-side/coverage

# production
/front-side/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
